 {{!-- Navbar --}}
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <button type="button" class="btn btn-outline-secondary ms-auto" data-bs-toggle="modal" data-bs-target="#registerUserModal">Register</button>
        <button type="button" class="btn btn-outline-secondary ms-2" data-bs-toggle="modal" data-bs-target="#loginUserModal">Login</button>
      </div>
    </nav>